@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* add */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  
}

img {
  width: 600px;
  margin-bottom: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: gray;
}

.header{
  display: flex;
  justify-content: space-between;
  
}

.header .left-links,
.header .right-links{
  /* border: 5px solid black ; */
  padding: 20px;
  display: flex;
  gap: 20px;
}

.footer{
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */

  background-color: #eeeeee;
}

.footer .left-links,
.footer .right-links{
  border: 5px solid black ;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content{
  /* border: 5px solid blue; */
  text-align: center;
}